/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5fb;
  color: var(--grayscaledark);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CSS Variables for Colors */
:root {
  --brandsprimary: rgba(70, 64, 222, 1);
  --button-normal-font-family: "Epilogue-Bold", Helvetica;
  --button-normal-font-size: 16px;
  --button-normal-font-style: normal;
  --button-normal-font-weight: 700;
  --button-normal-letter-spacing: 0px;
  --button-normal-line-height: 160.0000023841858%;
  --button-primary-font-family: "Poppins-Bold", Helvetica;
  --button-primary-font-size: 16px;
  --button-primary-font-style: normal;
  --button-primary-font-weight: 700;
  --button-primary-letter-spacing: 0.08px;
  --button-primary-line-height: 179.99999523162842%;
  --color-white: rgba(255, 255, 255, 1);
  --drop-shadow: 0px 10px 40px 0px rgba(80, 96, 255, 0.25);
  --grayscalewhite: rgba(255, 255, 255, 1);
  --neutrals-0: rgba(255, 255, 255, 1);
  --neutrals-100: rgba(37, 50, 75, 1);
  --neutrals-20: rgba(214, 221, 235, 1);
  --neutrals-60: rgba(124, 132, 147, 1);
  --shadow: 0px 2.7135651111602783px 4.396662712097168px 0px
      rgba(192, 192, 192, 0.03),
    0px 6.862810134887695px 11.119489669799805px 0px rgba(192, 192, 192, 0.04),
    0px 13.999488830566406px 22.682716369628906px 0px rgba(192, 192, 192, 0.05),
    0px 28.836299896240234px 46.72210693359375px 0px rgba(192, 192, 192, 0.06),
    0px 79px 128px 0px rgba(192, 192, 192, 0.09);
}

/* Styles for the entire login page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for the image container */
.image-container {
  position: relative;
  width: 750px; /* Adjust as needed */
  height: 750px;
}

/* Styles for the image */
.side-image {
  width: 725px;
  margin-top: 5px;
  gap: 5px;
  height: auto; /* Maintain aspect ratio */
}

/* Overlay text on the image */
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left; /* Align text to the left */
  padding: 20px; /* Add some padding */
}

.empowering-text {
  color: #5060ff;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  line-height: 80px;
  word-wrap: break-word;
}

.every-ability-text {
  color: black;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  line-height: 80px;
  word-wrap: break-word;
}

.welcome-text {
  color: #000533;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  line-height: 38.4px;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Login Container */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  margin-top: 0%;
  background-color: var(--grayscalewhite);
  border: 1px solid var(--grayscalegrey-4);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Input Fields */
.input-field {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 15px;
  border: 1px solid var(--grayscalegrey-3);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: var(--primary-300);
  outline: gray;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px 24px; /* Adjusted padding */
  margin: 20px 0;
  background-color: var(
    --brandsprimary
  ); /* Updated to your primary brand color */
  color: var(--color-white); /* Updated color */
  font-size: 16px; /* Font size as specified */
  font-family: "Montserrat", sans-serif; /* Updated font family */
  font-weight: 700; /* Font weight as specified */
  line-height: 25.6px; /* Line height as specified */
  word-wrap: break-word; /* Word wrap as specified */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex; /* For center alignment */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  gap: 10px; /* Gap as specified */
}

.login-btn:hover {
  background-color: var(--primary-700); /* Adjust the hover color as needed */
}

/* Error Message */
.error-message {
  color: red;
  margin: 10px 0;
  text-align: center;
}

/* Typography */
h2 {
  color: var(--primary-900);
  margin-bottom: 20px;
}

/* login wrapper */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items vertically */
  justify-content: center;
  height: 100vh;
}

/* logo */
.logo {
  margin-bottom: 6px; /* Add some space between logo and login container */
  align-items: center; /* Center the items vertically */
  height: 50px;
  width: auto;
}

/* Styles for the Sign Up link */
.signup-text {
  margin-top: 20px;
  text-align: center;
}

.signup-text a {
  color: var(--brandsprimary); /* Use your primary brand color */
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.link-style {
  text-decoration: none;
}
